<div class = "container">
  <div class = "row">
    <div class = "col-xs-12">
      <h2>愚痴る</h2>
      <h5>何がありましたか？</h5>
      <%= form_for(@complaint, url: complaints_path) do |f|%>
      <h4>タイトル</h4>
      <%= f.text_field :title %><br>
      <h2>本文</h2>
      <%= f.text_area :body %><br>
      <%= f.submit '愚痴る！', class: "btn btn-success col-xs-5" %>
      <% end %>
    </div>
  </div>
</div>
