<div class = "container">
  <div class = "row">
    <div class = "mx-auto">
      <h2>愚痴の間</h2><br><br>
      <p>思いを吐き出して落ち着きましょう</p>
    </div>
    <div class = "card w-50 mx-auto mt-4 shadow-lg">

      <% @complaints.each do |c| %>
        <tr>
          <td><%= c.title %></td>
          <td><%= c.body %></td>
          <%= link_to "削除", complaint_path(c.id), method: :delete %>
        </tr>
        <% end %>
        
    

    </div>
    </div>
  </div>
