<!--いいね機能(愚痴)-->
    <% if c.cheered_by?(current_user) %>
    <table>
      <tr>
        <td><%= button_to c.cheers.count, cheer_path(c), method: :delete, remote: true %>お疲れ様！</td>
      </tr>
    </table>

    <% else %>
    <table>
      <tr>
        <td><%= button_to c.cheers.count, cheers_path(complaint_id: c.id), method: :post, remote: true %>お疲れ様！</td>
      </tr>
    </table>
    <% end %>