<div class = "container">

  <div class = "row">
    <div class = "col-xs-offset-1 col-xs-10">
      <h1 class = "about-header">
        <strong>ぐちった〜とは？</strong>
      </h1>
    </div>
  </div>

  <div class = "row">
    <div class = "col-xs-offset-1 col-xs-10">
      <h3 class = "about-text">
        <strong>ストレス社会に生きる皆様へ</strong><br><br>
        毎日お疲れ様です。<br><br>
        日々のストレスを吐き出そうとSNSで呟くも、思いもよらない誹謗中傷を受けたり、<br>
        日記に綴ってみるも、誰からも労われず、<br>
        様々な場所でストレスを抱えて生きていらっしゃる皆様に使っていただきたいです。<br>

        また、愚痴をシェアするだけでは気分が晴れないかもしれませんので、最近起こった良かった事を書くスペースも<br>
        ご用意しました。なければフィクションでも構いません。(隕石から地球を救った、社長に昇進した等)。<br>
        日常生活から離れたこの場所でメンタルを回復していただければと思います。<br><br>
        ごゆっくりどうぞ。(管理人より)
      </h3>
    </div>
  </div>
</div>
