<div class ="container">
  <div class = "row">
    <div class = "col-xs-12">
      <h2>ぐちった〜</h2>
      <h3>ごゆっくりどうぞ</h3>
      
      <%= link_to "愚痴りたい方", complaints_new_path %>
      <%= link_to "良かったことを報告したい方", good_things_new_path %>
    </div>
  </div>
</div>
