<div class ="container">
  <div class = "row">
    <div class = "col-xs-offset-1 col-xs-10">
      <div class = "top-text">
      <h2><strong>ぐちった〜</h2></strong>
      <h4>ごゆっくりどうぞ</h4>
      
      <%= link_to "愚痴りたい方", new_complaint_path, class: "btn btn-danger col-xs-5" %>
      <%= link_to "良かったことを報告したい方", new_good_thing_path, class: "btn btn-primary col-xs-5" %>
      <%= link_to "マイページ",  user_path(@user.id) %>
      </div>
    </div>
  </div>
</div>
