<div class ="container">
  <div class = "row">
      <div class = "top-text">
        <h1 class = "text-center"><strong>Share Diaryへようこそ！</h1></strong>
        
  
        <%= link_to "愚痴りたい", new_complaint_path, class: "btn btn-danger col-xs-5" %>
        <%= link_to "良かったことを報告したい", new_good_thing_path, class: "btn btn-primary col-xs-5" %>
        
        
        <br><br>
        <h3><使い方></h3><br>
        <p>愚痴をこぼしたい時は<strong class = "complain">「愚痴りたい」</strong>から、<br>
          何か良い事があった時は<strong class = "tweet">「良かったことを報告したい」</strong>から呟いてみてください。<br>
          (呟く場合は会員登録、ログインをお願いします。)<br>
          <br>
          また、「愚痴の間」「良かったことの間」を訪れると、投稿への評価ができます。<br>
          同じ悩みを抱えている人がいらっしゃるかもしれません。<br><br>
          このサイトでは傷の舐め合い、馴れ合い上等です。<br>
          あなたの心の休憩所になれば幸いです。<br>
          どうぞごゆっくりお過ごしください。<br><br>
          管理人より
        </p>
      </div>
  </div>
</div>
