/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@font-face{
  // font-family: 'timemachine-wa';
  // src: font-url('timemachine-wa.ttf')
  font-family: 'gomarice_mukasi_mukasi';
  src: font-url('gomarice_mukasi_mukasi.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'gomarice_mukasi_mukasi';
  // background-color: #CCFF99;
}

.container-fluid {
  position: relative;
  background-color: #EEEEEE;
}

.navbar-header {
  display: flex;
}

.navbar-left {
  align-items: center;
}

.navbar-right {
  position: absolute;
  display: flex;
  top: 6px;
  right: 50px;
  align-items: center;
}

.navbar-right li {
  margin: 10px;
  list-style: none;
}

footer{
  width: 100%;
  background-color: #DDDDDD;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  //footerを下部に固定 
  position: fixed;
  bottom: 0; 
}


