// Place all the styles related to the Complaints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.complaint-text {
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.timeline {
  width: 400px;
  height: 700px;
  overflow: scroll;
}

.complaint-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.complete {
  margin-bottom: 100px;
}

.thanks {
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.single-word {
  margin-top: 70px;
}

.cheer-btn {
  text-align: center;
}

.detail-text {
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.new-post {
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  margin-bottom: 50px;
}

.post-index {
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.famous-saying {
  padding-top: 200px;
}