// Place all the styles related to the Complaints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timeline {
  height: 750px;
  overflow: scroll;
}

.complete {
  margin-bottom: 100px;
}

.thanks {
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.single-word {
  margin-top: 70px;
}