// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-background {
  background-color: #EEEEEE;
  text-align: center;
}

.edit-background {
  background-color: #EEEEEE;
  margin: auto;
  text-align: center;
}

.registration-info {
  text-align: center;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.text-block {
  display: inline;
  vertical-align: middle;
}

.user-text {
  display: inline-block;
  vertical-align: middle;
}

.page-title-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.page-title {
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.pages {
  text-align: center;
  width: 100%;
}

.complaints-page {
  display: inline-block;
  overflow: scroll;
}

.good_things-page {
  display: inline-block;
  overflow: scroll;
}

