<html>
  <head></head>
  <body>
    <h3 class = "mx-auto">投稿しました！</h3>

    <script type="text/javascript" src="thanks.js"></script>

  <%= link_to "愚痴リストへ", complaints_path, class: "btn btn-danger col-xs-5" %>
  <%= link_to "良かったことリストへ", good_things_path, class: "btn btn-primary col-xs-5" %>
  </body>
</html>