<html>
  <head></head>
  <body>
    <h2>投稿しました！</h2>
    <script type="text/javascript" src="thanks.js"></script>
  <%= link_to "愚痴リストへ", complaints_path %>
  <%= link_to "良かったことリストへ", good_things_path %>
  </body>
</html>